* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 1.5;
	
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;

	box-sizing: border-box;

}

body {
	margin: 0;
	background-color: #030303;
	color: white;
	text-align : center;
}

.wrapper {
	display : flex;
	flex-direction : column;
	justify-items: center;
	margin : 20px;
}

.link {
	text-decoration: none;
	padding-bottom: 10px;
	border-color: white;
	border-bottom: 2px transparent solid;
}

a.link:link {
	color: #f7c5c4;
}
a.link:visited {
	color: #f7c5c4;
}
a.link:hover {
	color: white;
	border-bottom: 2px solid;
}
a.link:active {
	color: #6d6e6a;
}


/*.in-text-link {
	color: #f7c5c4;
}*/
#submit-button {
	text-align: center;
}

#social-links ul {
	display: flex;
	flex-direction:row;
	justify-content: space-around;
}

#social-links li {
	flex: 1;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

nav li {
	flex: 1;
}

section {
	border-radius: 10px;
	margin: 20px 0;
	padding: 20px 0;
	background-color: #1a1a1b;
}

header .wrapper {
	margin-bottom: 0;
	color: white;
}
main .wrapper {
	margin-top: 0;
}

.profile-pic-container {
	margin-top: 20px;
}

.profile-pic {
	width: 50%;
	border-radius: 50%;
}

.info {
	margin-bottom: 20px;
}

#intro .info {
	margin: 0;
}

.logo-list {
	display: flex;
}

.logo-list ol {
	display: flex;
	flex: 1;
	flex-direction: row;
}

.logo-list li {
	flex: 1;
}

.devicon {
	font-size: 50px;
}

#project a {
	text-decoration: none;
}

#project .fake-project {
	/*padding: 100px 0;*/
	background-color: #272729;
	margin: 0 10% 5px 10%;
	display: flex;
	flex-flow: column;
}

.fake-project div {
	margin: 5px;
}

.fake-project .row-one {
	flex: 3;
	display:flex;
	flex-flow: row;
	align-items: center;
}

.fake-project .row-one .skills {
	flex: 1;
}

.fake-project .row-one .skills ul {
	text-align: left;
	margin-left: 10%;
	padding-left: 10%;
	border-left-style: solid;
}

.fake-project .row-one .link {
	flex: 3;
}

#contact .wrapper {
	margin-top: 0;;
}

#contact .wrapper #email-form{
	text-align: left; 
}

form input,
form textarea {
  width: 100%;
}

form textarea {
	padding-bottom: 50px;
	color: black
}

form {
	text-align: left;
}

#contact label {
	justify-items: start;
	text-align: left;
}

#contact textarea {
	text-align: left;
}

#contact .info {
	margin-top: 0;
}

.user-name-email {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;;
}

.user-name-email div {
	display: flex;
	flex: 1;
	flex-direction: row;
}

#contact button {
	color: black;
}


@media all and (min-width: 600px) {



	.profile-pic {
		width: 200px;
		margin-left: 50%;
	}
	
	#image-and-name {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
	}

	#image-and-name div {
		flex: 2;
		text-align: left;
	}

	#image-and-name .profile-pic-container {
		flex: 1;
	}

	#about-me {
		padding: 0 20% 0 20%
	}

	.info {
		margin-top: 20px;
	}

	#project .info {
		margin-top: 0;
	}

	#contact .info {
		margin-top: 0;
	}

	form {
		margin: 0 30% 0 30%;
	}

}